/*

Author: Matthew Atsidefe
Theme: Food ordder Website Admin;
Version:  1.0;

*/

*{
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sams-serif;
}

.wrapper{
	
	padding: 1%;
	width: 80%;
	margin: 0 auto;

}

.text-center{
	text-align: center;
}

.clearfix{
	float: none;
	clear: both;
}

.tbl-full{
	width: 100%;

}

.tbl-30{
	width: 30%;
}

table tr th{
	border-bottom: 1px solid black;
	padding: 1%;
	text-align: left;
}

table tr td{
	padding: 1%;
}


.btn-primary{
	background-color: #1472E3;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;


}

.btn-primary:hover{
	background-color: #125885;
}

.btn-secondary{
	background-color: #19CA67;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;


}

.btn-secondary:hover{
	background-color: #128544;
}


.btn-danger{
	background-color: #CA042B;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;


}

.btn-danger:hover{
	background-color: #960D28;
}

.success{
	color: #15BC4D;
}

.error{
	color: #CE0B0B;
}

/*css for menu*/
.menu{
	text-align: center;
	border-bottom: 1px solid grey;
}
.menu ul{
	list-style-type: none;

}

.menu ul li{
	display: inline;
	padding: 1%;

}
.menu ul li a{
	text-decoration: none;
	font-weight: bold;
	color: orangered;

}

.menu ul li a: hover{
	color: orange;
}





/*css for main contetn*/
.main-content{
	background-color: whitesmoke;
	padding: 3%;


}

.col-4{
	width: 18%;
	background-color: white;
	border-radius: 2%;
	margin: 1%;
	padding: 2%;
	float: left;

}






/*css for footer*/
.footer{
	background-color: darkorange;
	color: white;
}